<button
  *ngIf="isAuthenticated"
  type="button"
  class="btn btn-dark float-right"
  [routerLink]="['add']"
>
  + Add Product
</button>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div *ngFor="let product of products" class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            alt="{{ product.name }}"
            style="height: 225px; width: 100%; display: block"
            src="{{ product.photo }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <button
              *ngIf="isAuthenticated && !product.isRented"
              type="button"
              class="btn btn-dark btn-sm float-right"
              (click)="rentProduct(product._id)"
            >
              Rent
            </button>
            <button
              *ngIf="
                isAuthenticated &&
                product.isRented &&
                currentUser &&
                product.ownerId == currentUser._id
              "
              type="button"
              class="btn btn-outline-dark btn-sm float-right"
              (click)="returnProduct(product._id)"
            >
              Rerent
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
